@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "var";

body, html{ background-color:#1E1E1E; overflow-x:hidden; }
*{ margin:0; padding:0; box-sizing:border-box; color:#fff; font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:300; }
button{ cursor:pointer; padding:10px; border:none; border-radius:4px; }
li{ list-style:none; }
fieldset{ border:none; }
a{ text-decoration:none; }
.wrap{ width:1080px; max-width:100%; margin:0 auto; }
.bodyWrap{ width:100%; height:100vh; padding:$headerHeight 0 $footerHeight;  }

/* header */
header{ position:fixed; left:0; top:0; width:100%; height:$headerHeight; border-bottom:1px solid #333; background-color:#1e1e1ee0;
    .wrap{ height:100%; display:flex; justify-content:space-between; align-items:center;
        h1{ display:flex; align-items:center;
            height:100%; 
            img{ width:48px; margin-right:10px; }
            a{ display:flex; align-items:center; height:100%; 
                span{font-size:1.78rem; font-weight:900;}
            }
        }
        ul{ display:flex; align-items:center; height:100%; 
            li{ 
                &:first-child{margin-right:20px;}
                button{ background:transparent; }
            } 
        }
    }
    
}

.initFalse{
    display:flex; justify-content:center; align-items:center; width:100%; height:100%;
}

/* loading */
.loading{ width:100px; height:100px;  animation: loading 1s infinite; }
.loading circle{
    fill: transparent; stroke-width: 3px;
    transform-origin: center;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* lmittes */
.lmittes{ width: 100%; padding-bottom: $footerHeight;
    > li{ 
        padding:40px; border-bottom:1px solid #666;
        &:last-child{border:none;} 
        .creatorInfo{ display:flex; justify-content:space-between; width:100%; margin-bottom:20px;
            .left{ display:flex; align-items:center; }
            .creator{
                display: flex; align-items: center;
                figure{@include proPic(48px, 12px); margin-right:10px;}
                span{ font-weight:400; }
            }
            .date{ margin-left:30px; font-size:0.875rem; color:#999; }
            .right{ 
                position:relative;
                button{ display:flex; flex-direction:column; padding:0; height:100%; background:transparent; font-size:1rem; color:#999; } 
                ul{ position:absolute; top:0; right:40px; padding:5px 0; border-radius:4px; background-color:#333;
                    li{ width:100%;
                        button{ display:flex; justify-content:center; align-items:center; width:100%; padding:10px; border:none; color:#fff;}
                    }
                }
            }
        }
        .lmitteText{ padding:10px 0; line-height:27px; }
        > img{ width:420px; height:420px; object-fit:cover; padding:10px 0; }
        .socialBlock{ 
            .socialLine{ width:100%;
                button{ background-color:transparent; &:first-of-type{ margin-right:10px; } } 
            }
            form{ display:flex; justify-content:space-between; width:100%; padding:10px 0;
                input{ flex:10; margin-right:20px; padding:10px; background-color:transparent; border:1px solid #FF7BAC; border-radius:4px;
                        &::placeholder{ color:#ededed; } }
                button{ flex:1; @include buttons(#5CC1FF)}
            }
            .comment{ width:100%; padding:20px; background-color:#333; border-radius:4px;
                li{ padding:5px 0; a{ font-weight:400; margin-right:16px; } }
            }
        }
    } }
.lmitteForm{ display:flex; 
    fieldset{ flex:7; border:none; margin-right:20px;
            input{ width:100%; margin-bottom:20px; padding:10px; border-radius:4px; background-color:transparent; border:1px solid #FF7BAC; &::placeholder{color:#ededed;}}
            & > div{
                figure{ display:flex; justify-content:center; align-items:flex-start; width:220px; height:220px; margin-bottom:20px; border-radius:4px; overflow:hidden; 
                    img{ width:100%; height:100%; object-fit:cover; }
                }
                display:flex; flex-direction:column; justify-content:center; align-items:center;
            }
        }
    label{ @include photoInput }
    button{ flex:1; height:fit-content; @include buttons(#5CC1FF); } 
}


footer{ position:fixed; left:0; bottom:0; z-index:100; display:flex; justify-content:center; align-items:center; width:100%; height:$footerHeight; border-top: 1px solid #333; background-color:#1E1E1E; color:#999;  }

/* -------------responsive-------------- */
@media screen and (max-width:1024px) {
    header{ padding:0 16px;
        h1{ 
            img{ width:56px !important; margin-right:5px; }
            a{ span{display:none;} }
        }
    }
}
@media screen and (max-width:767px) {
    *{ font-size:16px; }
    .lmittes{
        >li{ padding:30px 16px !important;
            .creatorInfo{ margin-bottom:8px !important; }
            .socialBlock{ form{ input{margin-right:16px !important;} } }
            > img{ width:calc(100vw - 32px) !important; max-width:420px; height:calc(100vw - 32px) !important; max-height:420px; object-fit:cover; padding:16px 0; }
            .right{  
                ul{ top:32px !important; right:0 !important; padding:0 !important; }
            }
        }
    }
    .lmitteForm{ display:flex; 
        fieldset{ margin-right:16px !important;
                input{ width:100%; margin-right:16px !important; } 
        }
    }
}
@media screen and (max-width:320px) {
    *{ font-size:14px; }
    
}