@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "var";

body{ background-color:#1E1E1E; }
*{ margin:0; padding:0; box-sizing:border-box; color:#fff; font-family: 'Noto Sans KR', sans-serif; font-size:18px; font-weight:300; }
button{ cursor:pointer; padding:10px; border:none; border-radius:4px; }
li{ list-style:none; }
fieldset{ border:none; }
a{ text-decoration:none; }
.wrap{ width:1080px; margin:0 auto; }
.bodyWrap{ display:flex; flex-direction:column; }

/* header */
header{ position:fixed; left:0; top:0; width:100%; height:$headerHeight; border-bottom:1px solid #333; background-color:#1e1e1ee0;
    .wrap{ height:100%; display:flex; justify-content:space-between; align-items:center;
        h1{ display:flex; align-items:center;
            height:100%; 
            img{ width:48px; margin-right:10px; }
            a{ display:flex; align-items:center; height:100%; font-size:32px; font-weight:900; }
        }
        ul{ display:flex; align-items:center; height:100%; 
            li{ 
                &:first-child{margin-right:20px;}
                button{ background:transparent; }
            } 
        }
    }
    
}

/* loading */
.loading{ width:100px; height:100px;  animation: loading 1s infinite; }
.loading circle{
    fill: transparent; stroke-width: 3px;
    transform-origin: center;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* lmittes */
.lmittes{ @include lmittes }
.lmitteForm{ @include LmitteForm }

footer{ position:fixed; left:0; bottom:0; z-index:100; display:flex; justify-content:center; align-items:center; width:100%; height:$footerHeight; border-top: 1px solid #333; background-color:#1E1E1E; color:#999;  }